@page "/meusPets"
@rendermode InteractiveServer
@inject AmigoPeludo.Data.AmigoPeludoContext DB

<PageTitle>Index</PageTitle>

  <div class="d-flex gap-3">
@foreach (var pet in DB.Pet)
{
    if (pet.idUsuario==user.id) {
        <div class="card" style="width: 18rem;">
            <img src="@pet.foto" class="card-img-top" alt="@pet.nome">
        <div class="card-body">
            <h5 class="card-title">@pet.nome</h5>
            <p class="card-text">@pet.historia</p>
            <a href="@($"pets/details?id={pet.id}")">Ver detalhes</a>
        </div>
    </div>
    }
}
</div>


@code{
    UsuarioLogado user = UsuarioLogado.getInstance();
}